{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/dmessages.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
			<div class="navbar navbar-static content-tabs">
				<div class="navbar-inner">
					<div class="container">	
			            {% block content_tabs %}
			            {% endblock %}
					</div>
				</div>
			</div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
        {% block content_full %}{% endblock %}
    </div>
{% endblock %}