{% extends 'messages/base_message.html' %}
{% load i18n messages_tags avatar_tags%}


{% block content_tabs %}
	<a class="brand">{% trans "Messages" %}</a>
	<ul class="nav pull-right">
		<li class="vertical-divider"></li>
		<li>
			<div class="btn-group">
				<a class="btn primary" href="{% url socialapps_messages_compose %}" rel="facebox[.message_form]" id="new-message"><i class="icon-envelope"></i>&nbsp;{% trans "Compose message" %}</a>
			</div>
		</li>
	</ul>
{% endblock %}

{% block content_full %}
	<div id="messages">
		{% for message in message_list %}
			<div class="row">
				<div class="span12">
					{% if message.from_user == user %}
						{% get_unread_message_count_between user and message.to_user as unread_between_count %}
						<a class="conversation-item" href="{% url socialapps_messages_detail message.to_user.id %}">
							<div class="conversation-detail">
								{% if unread_between_count > 0 %}
									<span class="label label-success">{{ unread_between_count }} {% trans "new" %}</span>
								{% endif %}
								{% avatar message.to_user 50 %}
								<div class="name">{{ message.to_user.get_profile.name }}</div>
								<div class="sent_at">{{ message.latest_message.sent_at }}</div>
								<div class="latest-message">{{ message.latest_message }}</div>
							</div>
						</a>
					{% else %}
						{% get_unread_message_count_between user and message.from_user as unread_between_count %}
						<a class="conversation-item" href="{% url socialapps_messages_detail message.from_user.id %}">
							<div class="conversation-detail">
								{% if unread_between_count > 0 %}
									<span class="label label-success">{{ unread_between_count }} {% trans "new" %}</span>
								{% endif %}
								{% avatar message.from_user 50 %}
								<div class="name">{{ message.from_user.get_profile.name }}</div>
								<div class="sent_at">{{ message.latest_message.sent_at }}</div>
								<div class="latest-message">{{ message.latest_message }}</div>
							</div>
						</a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}