{% load i18n %}
{% load bootstrap_tags %}
	<script type="text/javascript">
        var recipients = [];
		function save(data, statusText, xhr, $form) {
			if (data.success) {
				window.location = data.success_url;
			} else {
				$('input[type=submit]', $form).button('reset');
                $('.help-inline').remove();
                $('.control-group').removeClass('error');
                for (var item in data.errors) {
                    for (var error in data.errors[item]) {
                        $div = $('#div_id_' + item);
                        $div.addClass('error');
                        $div.find('.controls').append('<span id="error_' + item + '" class="help-inline">'+ data.errors[item][error] +'</span>');
                    }
                }
			}
		}
        function gatherRecipients($form, options) {
            {% if autocomplete %}
                var arr = jQuery.map(recipients, function(n, i){
                    return n.category[0] + ':' + n.id;
                });
                $('#message-form #id_to').val(arr.join(','));
            {% endif %}
        }

        $.widget( "custom.catcomplete", $.ui.autocomplete, {
            _renderMenu: function( ul, items ) {
                ul.addClass('nav nav-list');
                var that = this,
                    currentCategory = "";
                $.each( items, function( index, item ) {
                    if ( item.category != currentCategory ) {
                        ul.append( "<li class='nav-header'>" + item.category + "</li>" );
                        currentCategory = item.category;
                    }
                    that._renderItem( ul, item );
                });
            },

            _renderItem: function( ul, item ) {
                if (item.category === 'user') {
                    return $( "<li></li>" )
                    .data( "item.autocomplete", item )
                    .append( "<a><i class='icon-user'></i>"+ item.label + "</a>" )
                    .appendTo( ul );
                } else {
                    return $( "<li></li>" )
                    .data( "item.autocomplete", item )
                    .append( "<a><i class='icon-group'></i>"+ item.label + "</a>" )
                    .appendTo( ul );
                }
            }

        });

	    $(document).ready(function() {
			$('#message-form').ajaxForm({dataType : 'json', success : save, beforeSubmit: loadingForm, beforeSerialize: gatherRecipients });
            {% if autocomplete %}
                $('.removeRecipient').live('click', function(e) {
                    id = $(this).attr('data-id');
                    category = $(this).attr('data-category');
                    recipients = $.grep(recipients, function(n) {
                        if (n.id == id)
                            if (n.category == category)
                                return false;
                        return true;
                    });
                    $(this).remove();
                    return false;
                });
                $("#to_autocomplete_list").click(function(e){
                    $(this).find('input').focus();
                });
                $('#to_autocomplete_list input').focus(function() {
                    $(this).parents('#to_autocomplete_list').addClass('focus');
                });
                $('#to_autocomplete_list input').blur(function() {
                    $(this).parents('#to_autocomplete_list').removeClass('focus');
                });
                $('#to_autocomplete').keydown(function(event) {
                    if (event.which == 8) {
                        if(!this.value) {
                            var $item = $('#to_autocomplete_list a').last();
                            var id = $item.attr('data-id');
                            var category = $item.attr('data-category');
                            recipients = $.grep(recipients, function(n) {
                                if (n.id == id)
                                    if (n.category == category)
                                        return false;
                                return true;
                            });
                            $item.remove();
                        }
                    }
                });
                $("#to_autocomplete").catcomplete({
                    minLength: 2,
                    source: function(request, response) {
                        $.ajax({
                            url: "{% url socialapps_messages_recipients %}",
                            data: request,
                            dataType: "json",
                            success: function( data ) {
                                $.each(recipients, function(index, value) {
                                    category = value.category;
                                    id = value.id;
                                    data = $.grep(data, function(n) {
                                        if (n.id == id)
                                            if (n.category == category)
                                                return false;
                                        return true;
                                        });
                                });
                                response( data );
                            },
                            error: function() {
                                response( [] );
                            }
                        });
                    },
                    autoFocus: true,
                    select: function(event, ui) {
                        var item;
                        if (ui.item.category === 'user') {
                            item = '<a href="#" class="removeRecipient" data-id="'+ ui.item.id +'" data-category="user"><span class="label label-info" style="display: inline;"><i class="icon-user"></i>&nbsp;'+ ui.item.label + '</span></a>';
                        } else {
                            item = '<a href="#" class="removeRecipient" data-id="'+ ui.item.id +'" data-category="group"><span class="label label-info"><i class="icon-group"></i>&nbsp;'+ ui.item.label + '</span></a>';
                        }
                        $(item).insertBefore($('#to_autocomplete_list input'));
                        recipients.push(ui.item);
                        $('#to_autocomplete').val('');
                        return false;
                    },
                    focus: function(event, ui) {
                        if ($('.ui-autocomplete.nav').children().length > 0) {
                            $('.ui-autocomplete.nav .ui-menu-item').removeClass('active');
                            $item = $('.ui-autocomplete.nav .ui-state-hover');

                            // $item = $items.find('.ui-state-hover')
                            $item.parent().addClass('active');
                            $item.removeClass('ui-state-hover');
                            $('#to_autocomplete').val(ui.item.label);
                        } else {
                            $('#to_autocomplete').autocomplete('close');
                        }
                    }
                });
            {% endif %}
	    });
	</script>

<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>{% trans "Send message" %}</h3>
</div>
<form action="{% url socialapps_messages_compose %}" method="post" class="form" id="message-form">
	{% csrf_token %}
	<input type="hidden" name="next" id="id_next" value="{{ request.REQUEST.next }}" />
		<div class="modal-body">
			<div id="message-send-errors"><ul class="errorlist"></ul></div>
			<fieldset>
                {% if autocomplete %}
    				<div class="clearfix">
    					<label for="to_autocomplete">{% trans "To" %}</label>
    					<div class="input">
                            <div id="to_autocomplete_list"><input type="text" id="to_autocomplete"/></div>
    					</div>
    				</div>
                {% endif %}
				{{ form|as_bootstrap }}
	  		</fieldset>
		</div>
		<div class="modal-footer">
	  		<input type="submit" name="send" value="{% trans "Send" %}" class="btn btn-primary"/>
			<a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
		</div>
</form>
